.text1{
  color:#35a3fd;
  font-size: .7rem;
}
.text2{
  font-size: 1rem;
  font-weight: 700;
}
.text3{
  color:#393e42;
  font-size: .6rem;
}
.text4{
  color: #a6a8a9;
  font-size: .5rem;
}
.text5{
  font-weight: 700;
  font-size: 1.2rem;
}
.text-center {
  text-align: center;
}
.fd-row {
  display: flex;
  flex-direction: row;
}
.m-top-6{
  margin-top: 6px;
}
.m-left-6{
  margin-left: 6px;
}
.flex-center{
  display: flex;
  justify-content: center;
}